{% extends '::base.html.twig' %}
{% block header -%}
    {% include 'CoipeaultCNMegapolisBundle:Dashboard:header.html.twig' %}
{% endblock %}

{% block body -%}
    
    <div class="row">
        <div class="col-xs-6 col-md-4">
            <div class="nav nav-pills"><h3>Top Ten Buildings</h3></div>
            <div class="pre-scrollable" style="max-height: 500px;">
            {% block first_ten_buildings %}
                {% include 'CoipeaultCNMegapolisBundle:Dashboard:toptenbuildings.html.twig' %}
            {% endblock %}
            </div>
        </div>
        <div class="col-xs-6 col-md-4">
            <div class="nav nav-pills"><h3>Top Ten Steps</h3></div>
            <div class="pre-scrollable" style="max-height: 500px;">
            {% block first_ten_steps %}
                {% include 'CoipeaultCNMegapolisBundle:Dashboard:toptensteps.html.twig' %}
            {% endblock %}
            </div>
        </div>
        <div class="col-xs-6 col-md-4 pre-scrollable" style="max-height: 500px;">
        </div>
    </div>
{% endblock %}

{% block footer -%}

{% endblock %}
