{% extends '::base.html.twig' %}
{% block header -%}
    {% include 'CoipeaultCNMegapolisBundle:Dashboard:header.html.twig' %}
{% endblock %}

{% block body -%}
    
    <div class="row">
        {#<div class="col-xs-6 col-md-4 pre-scrollable" style="max-height: 500px;">#}
        {% block first_ten_buildings %}
            {% include 'CoipeaultCNMegapolisBundle:Dashboard:topten.html.twig' %}
        {% endblock %}
        {#</div>
        <div class="col-xs-6 col-md-4">
        </div>
        <div class="col-xs-6 col-md-4">
        </div>#}
    </div>
{% endblock %}

{% block footer -%}

{% endblock %}
