{% block first_ten_buildings -%}
    <table class="table table-bordered table-striped records_list">
        <tbody>
        {% for building in buildings  %}
            <tr>
                <td>
                    <strong>{{ building['name'] }}</strong><br>
                    <div class="progress progress-striped">
                        <div class="progress-bar{% if building['percentile'] == 1 %} progress-bar-success{% endif %}" 
                             role="progressbar" 
                             aria-valuenow="{{ building['percentile'] }}" 
                             aria-valuemin="0" 
                             aria-valuemax="1" 
                             style="width: {{ building['percentile'] * 100 }}%;">
                            <span class="sr-only">{{ building['percentile'] * 100 }}% Complete</span>
                        </div>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
