<ul class="list-inline">
    <li  class="list-group-item">
        <a href="{{ path(route) }}">
            <span class="glyphicon glyphicon-plus"></span> Create a new entry
        </a>
    </li>
</ul>